/* HSL */
$color1: hsla(139%, 58%, 35%, 1);
$color2: hsla(211%, 35%, 42%, 1);
$color3: hsla(115%, 50%, 95%, 1);
$color4: hsla(355%, 87%, 66%, 1);
$color5: hsla(115%, 22%, 11%, 1);

/* RGB */
$color1: rgba(38, 142, 71, 1);
$color2: rgba(69, 105, 144, 1);
$color3: rgba(238, 249, 237, 1);
$color4: rgba(244, 91, 105, 1);
$color5: rgba(22, 33, 21, 1);